<div class="mt-3">
  {{> message}}
</div>
{{#each orders}}
<div class="row">
  <div class="col-md-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.orderProducts}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.OrderItem.quantity}}</td>
          <td>{{this.price}}</td>
        </tr>
        {{/each}}
        <tr>
          <td></td>
          <td style="text-align: right;">
            <h4>Total: </h4>
          </td>
          <td>
            <h4>{{this.amount}}</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <ul>
      <li>訂單編號: {{this.id}}</li>
      <li>name: {{this.name}}</li>
      <li>address: {{this.address}}</li>
      <li>phone: {{this.phone}}</li>
      <li>shipping_status: 
        {{#equal this.shipping_status '1'}}已出貨{{/equal}}
        {{#equal this.shipping_status '0'}}未出貨{{/equal}}
        {{#equal this.shipping_status '-1'}}已取消{{/equal}}
      </li>
      <li>payment_status: 
        {{#equal this.payment_status '1'}}已付款{{/equal}}
        {{#equal this.payment_status '0'}}未付款{{/equal}}
      </li>
    </ul>

    <div class="d-flex justify-content-start" style="margin-left:20px;">
      <form action="/order/{{this.id}}/cancel" method="POST" style="margin-right:10px;">
        <button type="submit" class="btn btn-danger"{{#equal this.shipping_status '0'}}{{else}}disabled{{/equal}}>取消訂單</button>
      </form>
      {{#equal this.payment_status '1'}}
      {{else}}
        {{#equal this.shipping_status '-1'}}
        {{else}}
        <a href="/order/{{this.id}}/payment"><button class="btn btn-success">立即付款</button></a>
        {{/equal}}
      {{/equal}}  
    </div>
  </div>
</div>

<hr />
{{/each}}